# SEC EDGAR Data Ingestion Rule Configurations
SEC_EDGAR_COMPANY_NAME="Real Rails Capital Limited"
SEC_EDGAR_EMAIL="bhavya@realrailscapital.com"
SEC_API_KEY=your_confidential_sec_api_token_here

# App Connection Gateways
NEXT_PUBLIC_API_URL=http://localhost:8000